{% extends 'base.html' %}

{% block content %}
<br>
{% if form.errors %}
<h6>Please check the following errors:</h6>
{% for field in form %}
{% for error in field.errors %}
{{ field.label }} ---> {{ error }}
{% endfor %}
{% endfor %}

{% for error in form.non_field_errors %}
{{error}}
{% endfor %}
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change Password</button>
</form>
<br>
<div>
    <a href="{% url 'profile' %}" class="btn btn-secondary">Back</a>
</div>
<br>
{% endblock %}