/* ===============================
        RESPONSIVE DESIGN
================================ */



@media(max-width:768px){


.hero h1{

font-size:35px;

}



.profile-stats{


flex-direction:column;

gap:15px;


}



.detail-title{


font-size:30px;


}



.blog-card img{


height:200px;


}



.form-card{


margin:20px;


}


}



@media(max-width:480px){


.logo{

font-size:22px;

}


.nav-link{

margin:5px;

}


.hero{

padding:40px 20px;

}


}